<div class="wrapper">
    <div class="body">

        <h1>Recuperar Cuenta</h1>

        <img class="logo" src="../../../assets/img/3168160.png" alt="login">

        <h1>Firebase Auth</h1>

        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="name@example.com">
                <label>Correo Electrónico</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-dark btn-lg" type="button">Recuperar</button>
            </div>
            <a style="color: black;" routerLink="/login">Regresar</a>
        </form>
    </div>
</div>