<div class="wrapper">
    <div *ngIf="!loading" class="body">

        <h1>Recuperar Cuenta</h1>

        <img class="logo" src="../../../assets/img/6013958.png" alt="login">

        <h1>Firebase Auth</h1>

        <form [formGroup]="recoverUser" (ngSubmit)="recover()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                <label>Correo Electrónico</label>
                <span *ngIf="recoverUser.get('email')?.hasError('required') && recoverUser.get('email')?.touched"
                    class="text-dark"><strong>El email es requerido</strong>
                </span>
                <span *ngIf="recoverUser.get('email')?.hasError('email') && recoverUser.get('email')?.touched"
                    class="text-dark"><strong>El email no es válido</strong>
                </span>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-dark btn-lg" type="submit" [disabled]="recoverUser.invalid">Recuperar</button>
            </div>
            <a style="color: black;" routerLink="/login">Regresar</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>